*{
  box-sizing: border-box;
}

div{
  height: 100vh;
  width: 32%;
  display: inline-block;
  vertical-align: top;
}

img{
  max-width: 100%;
}


.um{
  background-color: aquamarine;
}

.dois{
  background-color: darkgoldenrod;
}


.tres{
  background-color: blueviolet;
}

@media(max-width: 760px){
  div{
    width: 49%;
  }
}

@media(max-width: 400px){
  div{
    width: 100%;
  }
}